@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@300;600&display=swap');

:root {
    --cor1: #191919;
    --cor2: #f54747;
    --cor3: #FDC55E;
    --cor4: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    width: 100%;
    background-color: #ffffff;
}


/* -=-=-=-=-=- Parte da Lateral esquerda do Menu Principal -=-=-=-=-=- */




/* -=-=-=-=-=- Parte da Lateral direita do Menu Principal -=-=-=-=-=- */

#right_main {
    margin-top: -100px;
    float: right;
}

#seta2 {
    margin-top: 73px;
    margin-left: -420px;
}

/* -=-=-=-=-=- Segunda parte do Menu, onde tem ofertas do dia -=-=-=-=-=- */

#main2 {
    margin-top: 100px;  
}





/* -=-=-=-=-=-=-=-=-=- Main 3 -=-=-=-=-=-=-=-=-=- */


#btn_l3 {
    text-align: left;
    margin-top: 20px;
}


/* -=-=-=-=-=-=-=-=-=- Main 4 -=-=-=-=-=-=-=-=-=- */


#main4 {
    margin-top: 1000px;
    width: 100%;
    max-width: 1400px;
    display: inline;
    position: absolute;
}

.tit4 {
    display: flex;
    justify-content: center;
}

.tit4 > div > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.btn_list {
    margin-top: 100px;
}

.btn_list > button {
    margin: 15px;
}


/* -=-=-=-=-=-=-=-=-=- Main 5 -=-=-=-=-=-=-=-=-=- */

#main5 {
    width: 100%;
    margin-top: 2500px;
    height: 682px;
    max-width: 1400px;
    display: inline-block;
    padding: 40px;
    
}


.download_stores {
    text-align: left;
    margin-top: 40px;
}



/* -=-=-=-=-=-=-=-=-=- Footer -=-=-=-=-=-=-=-=-=- */

