* {
    padding: 0;
    margin: 0;
}  

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(circle at 50% -20.71%, #ffe6cd 0, #ffe7ca 6.25%, #ffe9c9 12.5%, #ffebc8 18.75%, #fbecc8 25%, #f6eec8 31.25%, #f1efc9 37.5%, #ebf1cb 43.75%, #e6f2cd 50%, #e1f3d0 56.25%, #dbf4d3 62.5%, #d6f5d7 68.75%, #d1f6db 75%, #ccf7df 81.25%, #c8f8e4 87.5%, #c4f8e9 93.75%, #c1f8ee 100%);
}

#semaforo {
    width: 183px;
    height: 421px;
    background-image: url('/assets/desligado.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 50px solid white;
    border-radius: 30px;
}

.contButtons {
    margin-top: 25px;
}

.criador {
    position: fixed;
    bottom: 10px;
    color: white;
    text-shadow: 0px 0px 4px rgba(0,0,0,.3);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
